{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <section class="articles">

        {% for article in articles %}
            <article>
                <h2>{{ article.title }} </h2>

                {% if is_granted('ROLE_ADMIN') %}
                <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Supprimer</a>
                {% endif %}

                <div class="metadata">écrit le {{ article.createdAt | date('d/m/Y') }} a {{ article.createdAt | date('H:i') }}dans la catégorie {{ article.category.title }}</div>

                <div class="content">

                    <img src= "{{ article.image }}" alt="">

                </div>

                <div class="content">
                {{ article.content | raw }}
                <a href="{{ path('blog_show', { 'id' : article.id }) }}" class="btn btn-primary">lire la suite</a>
                </div>

            </article>

        {% endfor %}

    </section>

{% endblock %}

{% block javascripts %}
    <script src="\skeleton\public\js\delete.js"></script>
{% endblock %}

