{% extends ('base.html.twig') %}

{% block body %}

    <article>
        <h2>{{ produit.title }}</h2>

        <div class="metadata">écrit le {{ produit.createdAt | date('d/m/Y') }} a {{ produit.createdAt | date('H:i')}} dans la catégorie {{ produit.category.title }}</div>

        <div class="content">

            <img src=" {{ produit.image }}" alt="">

        </div>

        <div class="content">

            {{ produit.content | raw }}
            <p>Pour plus d'information sur le produit vous pouvez passer par la boutique grace a ce lien <a href="https://www.croisiauxanais.com/">Boutique</a> </p>

        </div>

    </article>


{% endblock %}